.fullHeight {
  height: 100vh;
}

.CodeMirror.cm-s-material-palenight {
  height: 400px;
}

.CodeMirror.cm-s-ambiance {
  height: 400px;
}

.CodeMirror.cm-s-cobalt {
  height: 400px;
}

.CodeMirror.cm-s-dracula {
  height: 400px;
}

.CodeMirror.cm-s-eclipse {
  height: 400px;
}

.CodeMirror.cm-s-monokai {
  height: 400px;
}

.CodeMirror.cm-s-elegant {
  height: 400px;
}

.CodeMirror.cm-s-oceanic-next {
  height: 400px;
}

.CodeMirror.cm-s-shadowfox {
  height: 400px;
}

.CodeMirror.cm-s-solarized {
  height: 400px;
}

.noPadMar {
  padding: 0;
  margin: 0;
}

.customMar {
  margin-right: 0px;
  margin-left: -15;
}

#subscriber {
  height: 200px !important;
}

#publisher {
  height: 200px !important;
}

.videoPlaceholder {
  height: 200px !important;
}

.OT_publisher,
.OT_subscriber {
  border-radius: 8px 8px 0px 0px;
}

.videoChats {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(105, 104, 104);
  border-radius: 8px 8px 0px 0px;
}